<!DOCTYPE html>
<html lang="de"><head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f5f5f7">
    <meta name="description" content="Reduzierte Startseite mit direktem Einstieg in Repository und Login.">
    <title>Pawsitters</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/site.css"></head>
<body class="page_surface page-home">
<div id="app-shell" class="site_frame" v-cloak="">
    <transition-group name="site_notification_stack" tag="div" class="site_notifications" aria-live="polite" aria-atomic="false">
        <article v-for="notification in notifications" :key="notification.id" class="site_notification" :class="'site_notification--' + notification.tone" :role="notification.tone === 'warning' ? 'alert' : 'status'">
            <p class="site_notification__title" v-text="notification.title"></p>
            <p v-if="notification.message" class="site_notification__message" v-text="notification.message"></p>
        </article>
    </transition-group>
    <div class="site_background" aria-hidden="true">
        <svg class="site_background__threads" data-thread-background="" viewBox="0 0 1600 2400" preserveAspectRatio="none">
            <g class="site_background__glow"></g>
            <g class="site_background__lines"></g>
            <g class="site_background__nodes"></g>
        </svg>
    </div>
    <header id="site-shell-header" class="header_shell">
    <div class="main_container">
        <div :class="scrolled ? 'header_surface header_surface--scrolled' : 'header_surface'">
            <a class="brand_mark" href="/" @click="closeMenu()" aria-label="Pawsitters">
                <span class="brand_mark__tile" aria-hidden="true">
                    <img class="brand_mark__icon" src="/assets/media/favicon.png" alt="">
                </span>
                <span class="brand_mark__wordmark">Pawsitters</span>
            </a>

            <div class="header_center hidden lg:flex">
                <details class="repo_menu" aria-label="Repository-Navigation">
                    <summary class="repo_menu__summary">
                        <img class="repo_menu__icon" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="" aria-hidden="true">
                        <span class="repo_menu__label">Repository</span>
                        <span class="repo_menu__chevron" aria-hidden="true">
                            <svg viewBox="0 0 16 16" focusable="false">
                                <path d="M3.5 5.75 8 10.25l4.5-4.5"></path>
                            </svg>
                        </span>
                    </summary>
                    <div class="repo_menu__panel">
                        <a class="repo_menu__item" href="/repository/playwright">
                            <img class="repo_menu__item-icon" src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/2/playwright-y50bnthygb3rvsppvkm9e.png/playwright-q55xzpenhgjsodksybst.png?_a=DATAiZAAZAA0" alt="" aria-hidden="true">
                            <span class="repo_menu__item-label">Playwright</span>
                        </a>
                        <a class="repo_menu__item" href="/repository/git">
                            <img class="repo_menu__item-icon" src="https://www.linux-magazin.de/wp-content/uploads/2026/02/Git-Icon-1788C.png" alt="" aria-hidden="true">
                            <span class="repo_menu__item-label">Git</span>
                        </a>
                        <a class="repo_menu__item" href="/repository/kanban">
                            <span class="repo_menu__item-label">Kanban Board</span>
                        </a>
                    </div>
                </details>
            </div>

            <div class="header_actions hidden lg:flex">
                <details class="locale_menu" aria-label="Sprachauswahl">
                    <summary class="locale_menu__summary">
                        <img class="locale_menu__flag locale_menu__flag--summary" alt="" src="/assets/media/country-flag/1F1E9-1F1EA.svg">
                        <span class="locale_menu__summary-code">DE</span>
                    </summary>
                    <div class="locale_menu__panel">
                        <a class="locale_menu__item locale_menu__item--active" href="/" aria-current="true">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1E9-1F1EA.svg">
                            <span class="locale_menu__item-label">Deutsch</span>
                        </a><a class="locale_menu__item" href="/?locale=en">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1EC-1F1E7.svg">
                            <span class="locale_menu__item-label">English</span>
                        </a><a class="locale_menu__item" href="/?locale=ro">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1F7-1F1F4.svg">
                            <span class="locale_menu__item-label">Română</span>
                        </a>
                    </div>
                </details>
                <button class="button button--secondary" type="button" @click="openLoginModal()">Einloggen</button>
            </div>

            <button class="menu_button lg:hidden" type="button" :aria-expanded="menuOpen.toString()" @click="toggleMenu()">
                <span v-if="!menuOpen">Menü</span>
                <span v-else="">Menü schließen</span>
            </button>
        </div>

        <div v-show="menuOpen" class="mobile_drawer lg:hidden" @click.self="closeMenu()">
            <div class="mobile_drawer__surface">
                <details class="repo_menu repo_menu--mobile" aria-label="Repository-Navigation">
                    <summary class="repo_menu__summary">
                        <span class="repo_menu__label">Repository</span>
                    </summary>
                    <div class="repo_menu__panel">
                        <a class="repo_menu__item" @click="closeMenu()" href="/repository/playwright">
                            <img class="repo_menu__item-icon" src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/2/playwright-y50bnthygb3rvsppvkm9e.png/playwright-q55xzpenhgjsodksybst.png?_a=DATAiZAAZAA0" alt="" aria-hidden="true">
                            <span class="repo_menu__item-label">Playwright</span>
                        </a>
                        <a class="repo_menu__item" @click="closeMenu()" href="/repository/git">
                            <img class="repo_menu__item-icon" src="https://www.linux-magazin.de/wp-content/uploads/2026/02/Git-Icon-1788C.png" alt="" aria-hidden="true">
                            <span class="repo_menu__item-label">Git</span>
                        </a>
                        <a class="repo_menu__item" @click="closeMenu()" href="/repository/kanban">
                            <span class="repo_menu__item-label">Kanban Board</span>
                        </a>
                    </div>
                </details>
                <details class="locale_menu locale_menu--mobile" aria-label="Sprachauswahl">
                    <summary class="locale_menu__summary">
                        <img class="locale_menu__flag locale_menu__flag--summary" alt="" src="/assets/media/country-flag/1F1E9-1F1EA.svg">
                        <span class="locale_menu__summary-code">DE</span>
                    </summary>
                    <div class="locale_menu__panel">
                        <a class="locale_menu__item locale_menu__item--active" @click="closeMenu()" href="/" aria-current="true">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1E9-1F1EA.svg">
                            <span class="locale_menu__item-label">Deutsch</span>
                        </a><a class="locale_menu__item" @click="closeMenu()" href="/?locale=en">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1EC-1F1E7.svg">
                            <span class="locale_menu__item-label">English</span>
                        </a><a class="locale_menu__item" @click="closeMenu()" href="/?locale=ro">
                            <img class="locale_menu__flag locale_menu__flag--item" alt="" src="/assets/media/country-flag/1F1F7-1F1F4.svg">
                            <span class="locale_menu__item-label">Română</span>
                        </a>
                    </div>
                </details>
                <button class="button button--secondary w-full" type="button" @click="openLoginModalFromMenu()">Einloggen</button>
            </div>
        </div>
    </div>
</header>

    <transition name="auth_modal_presence">
        <div v-if="loginModalOpen" class="auth_modal" role="dialog" aria-modal="true" @click.self="closeLoginModal()">
            <article class="auth_modal__surface">
                <button class="auth_modal__close" type="button" @click="closeLoginModal()" aria-label="Login-Fenster schließen">
                    <svg viewBox="0 0 20 20" focusable="false" aria-hidden="true">
                        <path d="M5 5 15 15M15 5 5 15"></path>
                    </svg>
                    <span class="sr-only">Schließen</span>
                </button>

                <div class="auth_modal__brand">
                    <span class="auth_modal__brand-tile" aria-hidden="true">
                        <img class="auth_modal__brand-icon" src="/assets/media/favicon.png" alt="">
                    </span>
                </div>
                <h2 class="auth_modal__title">Einloggen oder registrieren</h2>

                <form class="auth_modal__form" novalidate="" @submit.prevent="">
                    <label class="corp_field auth_modal__field">
                        <span class="sr-only">Telefonnummer oder E-Mail Adresse</span>
                        <input class="corp_input" type="text" autocomplete="username" data-auth-login-identifier="" aria-label="Telefonnummer oder E-Mail Adresse" placeholder="Telefonnummer oder E-Mail Adresse">
                        <span class="corp_field__label">Telefonnummer oder E-Mail Adresse</span>
                    </label>
                    <button class="button auth_modal__submit" type="submit">Weiter</button>
                </form>
            </article>
        </div>
    </transition>

    <main id="main-content" class="main_container site_main">
        <section class="home_stage home_stage--minimal">
        <div class="home_minimal_shell">
            <h1 class="home_wordmark">Pawsitters</h1>
            <div class="home_minimal__actions">
                <a class="button button--primary" href="/repository/git">Repository</a>
                <button class="button button--secondary" type="button" @click="openLoginModal()">Einloggen</button>
            </div>
        </div>
    </section>
    </main>

    <footer class="main_container site_footer">
        <p class="site_footer__text">Pawsitters. Ruhiges Interface für moderne Haustierbetreuung.</p>
    </footer>
</div>
<script type="module" src="/assets/js/site.js"></script>


</body></html>