<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header id="site-shell-header" class="header_shell" th:fragment="siteHeader(currentLocale, localeLinks, currentLocaleLabel, currentLocaleCode, currentLocaleFlagPath, currentPageClass)">
    <div class="main_container">
        <div class="header_surface">
            <a class="brand_mark" href="/" th:href="${homePath}" th:attr="aria-label=#{brand.name}" @click="closeMenu()">
                <span class="brand_mark__tile" aria-hidden="true">
                    <img class="brand_mark__icon" th:src="@{/assets/media/favicon.png}" src="/assets/media/favicon.png" alt="">
                </span>
                <span class="brand_mark__wordmark" th:unless="${currentPageClass == 'page-home'}" th:text="#{brand.name}">brand.name</span>
            </a>

            <div class="header_center">
                <div class="header_center__stack">
                    <div class="hidden" aria-hidden="true">
                        <a class="repo_menu__item"
                           th:href="${repositoryPlaywrightPath}">nav.repositoryPlaywright</a>
                        <a class="repo_menu__item"
                           th:href="${repositoryGitPath}">nav.repositoryGit</a>
                        <a class="repo_menu__item"
                           th:href="${repositoryBoardPath}">nav.repositoryBoard</a>
                    </div>
                    <th:block th:if="${currentPageClass != 'page-home'}">
                        <th:block th:replace="~{partials/header-search :: searchWidget}"></th:block>
                    </th:block>
                </div>
            </div>

            <div class="header_actions hidden lg:flex">
                <details class="locale_menu" th:attr="aria-label=#{nav.ariaLocale}">
                    <summary class="locale_menu__summary">
                        <img class="locale_menu__flag locale_menu__flag--summary" th:src="${currentLocaleFlagPath}" alt="">
                        <span class="locale_menu__summary-code" th:text="${currentLocaleCode}">locale.current.code</span>
                    </summary>
                    <div class="locale_menu__panel">
                        <p class="header_quick_menu__category" th:text="#{nav.localeSelection}">nav.localeSelection</p>
                        <a th:each="localeOption : ${localeLinks}"
                           class="locale_menu__item"
                           th:classappend="${localeOption.active} ? ' locale_menu__item--active' : ''"
                           th:href="${localeOption.path}"
                           th:attr="aria-current=${localeOption.active} ? 'true' : null,data-locale-code=${localeOption.code}">
                            <img class="locale_menu__flag locale_menu__flag--item" th:src="${localeOption.flagPath}" alt="">
                            <span class="locale_menu__item-label" th:text="${localeOption.label}">locale.option.label</span>
                        </a>
                    </div>
                </details>
                <details v-if="authSessionLoggedIn"
                         class="repo_menu repo_menu--surface user_menu"
                         th:attr="aria-label=#{nav.ariaUserMenu}">
                    <summary class="repo_menu__summary user_menu__summary">
                        <span class="user_menu__initial" v-text="authSessionInitial"></span>
                        <span class="sr-only" th:text="#{nav.openUserMenu}">nav.openUserMenu</span>
                    </summary>
                    <div class="repo_menu__panel user_menu__panel">
                        <p class="header_quick_menu__category user_menu__category" v-text="authSessionGreeting"></p>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openCurrentUserProfile()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/1F9D1.svg}"
                                 src="/assets/media/1F9D1.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.profile}">nav.profile</span>
                        </button>
                        <span class="user_menu__divider" role="separator" aria-hidden="true"></span>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openCurrentUserPets()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/animal-mammal/1F415.svg}"
                                 src="/assets/media/animal-mammal/1F415.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.myPets}">nav.myPets</span>
                        </button>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openCurrentUserOffers()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/1F391.svg}"
                                 src="/assets/media/1F391.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.myOffers}">nav.myOffers</span>
                        </button>
                        <span class="user_menu__divider" role="separator" aria-hidden="true"></span>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openCurrentUserMessages()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/2709.svg}"
                                 src="/assets/media/2709.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.messages}">nav.messages</span>
                        </button>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openCurrentUserSettings()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/2699.svg}"
                                 src="/assets/media/2699.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.settings}">nav.settings</span>
                        </button>
                        <span class="user_menu__divider" role="separator" aria-hidden="true"></span>
                        <button class="repo_menu__item repo_menu__item--button user_menu__logout"
                                type="button"
                                @click="logoutCurrentUser()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/1F512.svg}"
                                 src="/assets/media/1F512.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.logout}">nav.logout</span>
                        </button>
                    </div>
                </details>
                <details class="repo_menu repo_menu--surface header_quick_menu"
                         th:unless="${currentPageClass == 'page-home'}"
                         th:attr="aria-label=#{nav.ariaQuickMenu}">
                    <summary class="repo_menu__summary header_quick_menu__summary">
                        <span class="header_quick_menu__bars" aria-hidden="true">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="sr-only" th:text="#{nav.openQuickMenu}">nav.openQuickMenu</span>
                    </summary>
                    <div class="repo_menu__panel header_quick_menu__panel">
                        <p class="header_quick_menu__category" th:text="#{nav.pawsitters}">nav.pawsitters</p>
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openUserSearchModal()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/1F50D.svg}"
                                 src="/assets/media/1F50D.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.userSearch}">nav.userSearch</span>
                        </button>
                        <span v-if="!authSessionLoggedIn" class="header_quick_menu__divider" role="separator" aria-hidden="true"></span>
                        <button class="repo_menu__item repo_menu__item--button"
                                v-if="!authSessionLoggedIn"
                                type="button"
                                @click="openLoginModal()"
                                th:text="#{nav.login}">nav.login</button>
                    </div>
                </details>
            </div>

            <button class="menu_button lg:hidden"
                    type="button"
                    :aria-expanded="menuOpen.toString()"
                    @click="toggleMenu()">
                <span v-if="!menuOpen" th:text="#{nav.menu}">nav.menu</span>
                <span v-else th:text="#{nav.close}">nav.close</span>
            </button>
        </div>

        <div v-show="menuOpen" class="mobile_drawer lg:hidden" @click.self="closeMenu()">
            <div class="mobile_drawer__surface">
                <details class="repo_menu repo_menu--mobile" th:unless="${currentPageClass == 'page-home'}" th:attr="aria-label=#{nav.ariaRepository}">
                    <summary class="repo_menu__summary">
                        <span class="repo_menu__label" th:text="#{nav.pawsitters}">nav.pawsitters</span>
                    </summary>
                    <div class="repo_menu__panel">
                        <button class="repo_menu__item repo_menu__item--button"
                                type="button"
                                @click="openUserSearchModalFromMenu()">
                            <img class="repo_menu__item-icon"
                                 th:src="@{/assets/media/1F50D.svg}"
                                 src="/assets/media/1F50D.svg"
                                 alt=""
                                 aria-hidden="true">
                            <span class="repo_menu__item-label" th:text="#{nav.userSearch}">nav.userSearch</span>
                        </button>
                    </div>
                </details>
                <details class="locale_menu locale_menu--mobile" th:attr="aria-label=#{nav.ariaLocale}">
                    <summary class="locale_menu__summary">
                        <img class="locale_menu__flag locale_menu__flag--summary" th:src="${currentLocaleFlagPath}" alt="">
                        <span class="locale_menu__summary-code" th:text="${currentLocaleCode}">locale.current.code</span>
                    </summary>
                    <div class="locale_menu__panel">
                        <p class="header_quick_menu__category" th:text="#{nav.localeSelection}">nav.localeSelection</p>
                        <a th:each="localeOption : ${localeLinks}"
                           class="locale_menu__item"
                           th:classappend="${localeOption.active} ? ' locale_menu__item--active' : ''"
                           th:href="${localeOption.path}"
                           @click="closeMenu()"
                           th:attr="aria-current=${localeOption.active} ? 'true' : null,data-locale-code=${localeOption.code}">
                            <img class="locale_menu__flag locale_menu__flag--item" th:src="${localeOption.flagPath}" alt="">
                            <span class="locale_menu__item-label" th:text="${localeOption.label}">locale.option.label</span>
                        </a>
                    </div>
                </details>
                <button v-if="!authSessionLoggedIn" class="button button--secondary w-full" th:unless="${currentPageClass == 'page-home'}" type="button" @click="openLoginModalFromMenu()" th:text="#{nav.login}">nav.login</button>
            </div>
        </div>
    </div>
</header>
</body>
</html>
